.idea
.project
.settings
*.bak
*.bck
*.log
*.orig
*.sublime-*
*.tmp
npm-debug*
.env
dist
docs
node_modules
tmp
.DS_Store
.wireit
tsconfig.*.tsbuildinfo
tsconfig.tsbuildinfo
demo/auth
packages/**/dist/
packages/**/test/results/
cache.json
packages/stream-manager
reports
test-results
allure-results
test-report.xml
*.tgz